button, select {
    background-color: #EF9A41;
    color: white;
    border-color: #EF9A41;
    border-radius: 6px;
    height: 39px;
}

input,
textarea,
a {
    color: #231F20;
}

input,
select,
textarea,
a, 
button {
    font-family: system-ui;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

}