button {
    background-color: #EF9A41;
    color: white;
    border-color: #EF9A41;
    border-radius: 6px;
    height: 39px;
}

input,
textarea,
a {
    color: #231F20;
}

input,
select,
textarea,
a, 
button {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

}

input {
    background: #FFFFFF;
    border: 1.5px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
}